## Ignore build results
[Bb]in/
[Oo]bj/

## Build results
*.dll
*.exe
*.pdb
*.xml

## NuGet
[Nn]u[Gg]et/
*.nupkg
packages/

## Visual Studio
.vs/
*.user
*.suo
*.aps
*.cache
*.vbproj.user

## Rider
.idea/

## VS Code
.vscode/

## OS
Thumbs.db
.DS_Store

## Logs
*.log
logs/

## Runtime
appsettings.Development.json